* text=auto eol=lf
*.lua text eol=lf
*.xml text eol=lf
*.toc text eol=lf
*.md text eol=lf
*.blp binary
*.tga binary
*.blp binary
_NPCScanOverlay/Data/*.lua binary
_NPCScanOverlay/_NPCScan.Overlay.*Data.lua binary
